body {
    margin: 0;
    font-family: Arial, sans-serif;

    background: url("/static/images/home.jpg") no-repeat center center fixed;
    background-size: cover;
}

/* center card */
.card {
    width: 350px;
    margin: auto;
    margin-top: 80px;
    padding: 30px;

    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);

    border-radius: 12px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.4);
    text-align: center;
}

/* inputs */
input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: none;
}

/* button */
button {
    background: #007bff;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #0056b3;
    transform: scale(1.05);
}
/* NAVBAR */
.navbar {
    width: 100%;
    background: rgba(0,0,0,0.7);
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
}

.navbar a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    color: #00c3ff;
}
